@import "./variables.scss";

/* 
    General 
*/

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

aside {
  width: 50%;
  padding: 0 20px;
}

main {
  width: 90%;
  padding: 0 20px;
  overflow: auto;
  height: 335px;
}

input {
  border-radius: 4px;
  border: 1px solid $border;
  padding: 4px 18px;
  width: 90%;
  height: 40px;
  font-size: 1.1em;
}

button {
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $indigo;
  cursor: pointer;
  color: $white;
  padding: 12px 26px;
  border: none;
}

/* 
    Navigation
*/

nav {
  align-items: center;
  background-color: $indigo;
  box-shadow: $shadow-nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 24px;
  font-size: 1.3em;
  font-weight: 700;
  color: $white;
}

/* 
    Main Content
*/

.main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    text-align: center;

    .heading {
      color: $dark;
      font-size: 3em;
    }
  }
}

.wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 0;
  width: 100%;
}

.card {
  border-radius: 8px;
  box-shadow: $shadow;
  border: 1px solid $border;
  cursor: pointer;
  padding: 10px;
  margin: 20px 0;
}

.flag {
  &--size {
    height: 100px;
    width: 100px;
    border: 1px solid $border;
    border-radius: 50%;
  }
}

.field {
  font-weight: 300;
  margin: 10px;

  span {
    font-weight: 600;
  }
}

/* 
    Filter Component
*/

.filter {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 40px !important;

  &__title {
    h2 {
      font-weight: 800;
      color: $gray-variant1 !important;
      text-transform: uppercase;
      font-size: 1em;
    }
  }

  &__form {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* 
    Countries List Component
*/

.item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 120px;

  &__avatar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
  }

  &__information {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 80%;

    &__heading {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }

    &__description {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  }
}

/* 
    Modal Details Component
*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $opacity;
  opacity: 1;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1030;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;

    .close-button {
      cursor: pointer;
      color: $dark;
      float: right;
      width: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      font-size: 2.4em;
    }

    .show-modal {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
  }
}

/* 
  Loader Component
*/

.loader {
  border: 8px solid $gray-variant2;
  border-radius: 50%;
  border-top: 8px solid $indigo;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

  &--text {
      color: $gray-variant1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
  end Loader Component
*/

/* 
  footer Component
*/

.footerContainer {
  background: #000000;
}

@media screen and (max-width: 768px){
  .filter {
    &__title {
      h2 {
        font-size: 11px;
      }
    }
  }

  input {
    font-size: 11px;
    height: 15px;
  }

  aside {
    width: 70%;
  }

  main {
    height: 230px;
  }

  .flag {
    &--size {
      height: 70px;
      width: 70px;
    }
  }

  .field {
    font-weight: 300;
    margin: 10px;
    font-size: 11px;
  }

  .item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 155px;

    &__avatar {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 25%;
      margin: 0 10px;
    }

    &__information {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
  
      &__heading {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
      }
  
      &__description {
        align-items: flex-start;
        display: flex-end;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
      }
    }
  }

  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $opacity;
    opacity: 1;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1030;
  
    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      padding: 1rem 1.5rem;
      width: 16rem;
      border-radius: 0.5rem;
  
      .close-button {
        cursor: pointer;
        color: $dark;
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        font-size: 2.4em;
      }
  
      .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  input {
    font-size: 11px;
  }

  .filter {
    &__title {
      h2 {
        font-size: 15px;
      }
    }
  }

  aside {
    width: 88%;
  }

  main {
    height: 350px;
  }

  .item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 290px;

    &__avatar {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 25%;
      margin: 0 10px;
    }

    &__information {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;

      h4 {
        width: 100%;
        font-size: 15px;
      }
  
      &__heading {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
      }
  
      &__description {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
      }
    }
  }
}